In [103]:
# Esta celda actúa sobre la libreta, y permite que se aproveche mejor el espacio.
from IPython.core.display import display, HTML
display(HTML("<style>.container{ width:95%}</style>"))
import sys
print(sys.executable)

C:\Users\48259328\AppData\Local\Programs\Python\Python39\python.exe

In [104]:
import pandas as pd
df_alg=pd.read_csv('output/executer.txt',na_values=' -')
df_alg

,Algorithm,Population Length,Generations,Selection Scheme,Selection Candidates,Crossover Scheme,Crossover Probability,Mutation Scheme,Mutation Probability,Replacement Scheme,Time(s),HV,Spread
0,GeneticAlgorithm,20,100,tournament,2,onepoint,0.9,mutation,0.10,elitism,1.538220,NaN,NaN
1,GeneticAlgorithm,20,100,tournament,2,onepoint,0.9,mutation,0.10,elitism,1.463229,NaN,NaN
2,GeneticAlgorithm,20,100,tournament,2,onepoint,0.9,mutation,0.10,elitism,1.431600,NaN,NaN
3,GeneticAlgorithm,20,100,tournament,2,onepoint,0.9,mutation,0.10,elitism,1.412646,NaN,NaN
4,GeneticAlgorithm,20,100,tournament,2,onepoint,0.9,mutation,0.10,elitism,1.464926,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,NSGAIIAlgorithm,40,100,tournament,2,onepoint,0.8,mutation,0.05,elitism,12.849535,10280.8,0.672617
134,NSGAIIAlgorithm,40,100,tournament,2,onepoint,0.8,mutation,0.05,elitism,12.980299,9756.6,0.692830
135,NSGAIIAlgorithm,40,100,tournament,2,onepoint,0.8,mutation,0.05,elitism,13.059436,8321.4,0.727055
136,NSGAIIAlgorithm,40,100,tournament,2,onepoint,0.8,mutation,0.05,elitism,12.822327,9130.6,0.692297
137,NSGAIIAlgorithm,40,100,tournament,2,onepoint,0.8,mutation,0.05,elitism,13.042935,8678.4,0.707714

In [105]:
df_nsgaii=df_alg[df_alg['Algorithm']=='NSGAIIAlgorithm']
df_nsgaii=df_nsgaii[["Population Length","Generations","Time(s)","HV","Spread"]]
summary = (df_nsgaii.groupby(['Population Length', 'Generations'])
                 [['Time(s)', 'HV', 'Spread']]
                 .agg(['mean','count'])
                 .reset_index()
          )
summary

  Population Length Generations     Time(s)                  HV        \
                                       mean count          mean count
0                20         100    7.450628    19   7832.736842    19
1                20         300   13.650387     6   8012.566667     6
2                20         400   17.339443    20   9322.460000    20
3                20         500   37.963600     1   9828.000000     1
4                20         700   51.490931     5   9782.120000     5
5                20        1000   81.667214     1  11887.200000     1
6                20        2000  153.260057     5  12176.080000     5
7                40         100   13.010193    36   8536.966667    36
8                40         150   19.127633     5   7781.720000     5
9                40         200   24.708806    10   9222.320000    10

     Spread
       mean count
0  0.744879    19
1  0.641713     6
2  0.691576    20
3  0.869603     1
4  0.761819     5
5  0.863442     1
6  0.780727     5
7  0.724030    36
8  0.738010     5
9  0.675718    10

In [106]:
import matplotlib as mpl
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

In [107]:
'''
index=summary.index
plt.scatter(summary)
plt.legend(summary.columns)
'''

'\nindex=summary.index\nplt.scatter(summary)\nplt.legend(summary.columns)\n'