In [2]:
# Esta celda actúa sobre la libreta, y permite que se aproveche mejor el espacio.
from IPython.core.display import display, HTML
display(HTML("<style>.container{ width:95%}</style>"))
import sys
print(sys.executable) 

from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
El codigo Python de este cuaderno está oculto para facilitar la lectura.
Para mostrar/ocultar el código, haz click <a href="javascript:code_toggle()">aquí.</a>.''')

c:\users\48259328\appdata\local\programs\python\python38\python.exe

In [2]:
import pandas as pd
#df_alg=pd.read_csv('output/experimento_2datasets_2_10.csv')
df_alg=pd.read_csv('output/resultados.txt')
df_alg.tail(20)

,Dataset,Algorithm,Population Length,Generations,Selection Scheme,Selection Candidates,Crossover Scheme,Crossover Probability,Mutation Scheme,Mutation Probability,Replacement Scheme,Time(s),HV,Spread,AvgValue
1276,dataset1,GeneticNDSAlgorithm,30,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,11.478975,4147.0,0.597156,4.382746
1277,dataset1,GeneticNDSAlgorithm,30,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,27.049521,3091.2,0.501357,6.181811
1278,dataset2,GeneticNDSAlgorithm,30,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,80.159996,27627.6,0.693744,0.662570
1279,dataset2,GeneticNDSAlgorithm,30,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,148.361986,25823.0,0.697371,0.678715
1280,dataset1,GeneticNDSAlgorithm,30,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,21.790091,4389.0,0.514737,5.164236
1281,dataset1,GeneticNDSAlgorithm,30,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,55.503310,6387.2,0.635010,5.902250
1282,dataset2,GeneticNDSAlgorithm,30,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,124.072865,39343.2,0.594671,0.673486
1283,dataset2,GeneticNDSAlgorithm,30,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,183.317102,36754.8,0.704872,0.702322
1284,dataset1,GeneticNDSAlgorithm,40,100,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,7.081134,4174.8,0.550767,4.286787
1285,dataset1,GeneticNDSAlgorithm,40,100,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,10.671430,5294.8,0.588255,4.619513
1286,dataset2,GeneticNDSAlgorithm,40,100,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,39.907757,23183.0,0.696908,0.633407
1287,dataset2,GeneticNDSAlgorithm,40,100,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,48.225532,35416.0,0.639128,0.652346
1288,dataset1,GeneticNDSAlgorithm,40,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,19.657383,5323.8,0.674408,4.735648
1289,dataset1,GeneticNDSAlgorithm,40,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,41.385214,3879.0,0.562615,4.925314
1290,dataset2,GeneticNDSAlgorithm,40,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,88.604786,41383.6,0.710780,0.658387
1291,dataset2,GeneticNDSAlgorithm,40,200,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,140.272696,30353.0,0.628893,0.681775
1292,dataset1,GeneticNDSAlgorithm,40,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,36.569050,3061.6,0.543799,4.776570
1293,dataset1,GeneticNDSAlgorithm,40,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,102.347766,4580.8,0.558287,5.436107
1294,dataset2,GeneticNDSAlgorithm,40,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,138.578667,27572.0,0.598949,0.676644
1295,dataset2,GeneticNDSAlgorithm,40,300,tournament,2,onepoint,0.9,mutation,0.1,elitismNDS,335.101606,36771.0,0.632698,0.702337

In [3]:
summary=(
df_alg.groupby(['Dataset','Algorithm','Population Length', 'Generations'])
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]
    .agg(['mean'])
    .reset_index()
)
summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Dataset, )            54 non-null     object
 1   (Algorithm, )          54 non-null     object
 2   (Population Length, )  54 non-null     int64
 3   (Generations, )        54 non-null     int64
 4   (Time(s), mean)        54 non-null     float64
 5   (HV, mean)             36 non-null     float64
 6   (Spread, mean)         36 non-null     float64
 7   (AvgValue, mean)       54 non-null     float64
dtypes: float64(4), int64(2), object(2)
memory usage: 3.5+ KB

---
# Dataset 1

## Dataset 1-Genetic analysis

In [4]:
df_genetic=summary[(summary['Dataset']=='dataset1') & (summary['Algorithm']=='GeneticAlgorithm')]
df_genetic

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
0,dataset1,GeneticAlgorithm,20,100,0.820350,NaN,NaN,2.170717
1,dataset1,GeneticAlgorithm,20,200,1.642874,NaN,NaN,2.238173
2,dataset1,GeneticAlgorithm,20,300,2.439773,NaN,NaN,2.164995
3,dataset1,GeneticAlgorithm,30,100,1.207383,NaN,NaN,2.215283
4,dataset1,GeneticAlgorithm,30,200,2.407362,NaN,NaN,2.203461
5,dataset1,GeneticAlgorithm,30,300,3.610925,NaN,NaN,2.185275
6,dataset1,GeneticAlgorithm,40,100,1.601343,NaN,NaN,2.208632
7,dataset1,GeneticAlgorithm,40,200,3.174079,NaN,NaN,2.178042
8,dataset1,GeneticAlgorithm,40,300,4.818899,NaN,NaN,2.180499

## Dataset 1-GeneticNDS analysis

In [20]:
df_geneticnds1=df_alg[(df_alg['Replacement Scheme']=='elitism')]
df_geneticnds1=(
    df_geneticnds1.groupby(['Dataset','Algorithm','Population Length', 'Generations'])\
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]\
    .agg(['mean'])\
    .reset_index()\
)
df_geneticnds1=df_geneticnds1[(df_geneticnds1['Dataset']=='dataset1') & (df_geneticnds1['Algorithm']=='GeneticNDSAlgorithm')]
display(df_geneticnds1)

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
9,dataset1,GeneticNDSAlgorithm,20,100,7.045408,3049.800000,0.622998,4.134011
10,dataset1,GeneticNDSAlgorithm,20,200,28.064441,3711.211111,0.615364,4.573444
11,dataset1,GeneticNDSAlgorithm,20,300,74.807685,3515.711111,0.605107,4.637533
12,dataset1,GeneticNDSAlgorithm,30,100,10.972115,4336.722222,0.601937,4.126872
13,dataset1,GeneticNDSAlgorithm,30,200,38.027474,4033.555556,0.590070,4.457135
14,dataset1,GeneticNDSAlgorithm,30,300,91.390866,4272.044444,0.572859,4.636030
15,dataset1,GeneticNDSAlgorithm,40,100,11.938201,4719.477778,0.565457,4.475517
16,dataset1,GeneticNDSAlgorithm,40,200,48.575437,4397.155556,0.577723,4.807333
17,dataset1,GeneticNDSAlgorithm,40,300,124.274303,4305.688889,0.558799,4.905742

In [19]:
df_geneticnds1=df_alg[(df_alg['Replacement Scheme']=='elitismNDS')]
df_geneticnds1=(
    df_geneticnds1.groupby(['Dataset','Algorithm','Population Length', 'Generations'])\
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]\
    .agg(['mean'])\
    .reset_index()\
)
df_geneticnds1=df_geneticnds1[(df_geneticnds1['Dataset']=='dataset1') & (df_geneticnds1['Algorithm']=='GeneticNDSAlgorithm')]
display(df_geneticnds1)

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
0,dataset1,GeneticNDSAlgorithm,20,100,7.242247,3852.944444,0.636094,4.356641
1,dataset1,GeneticNDSAlgorithm,20,200,29.171914,3708.211111,0.617580,4.891214
2,dataset1,GeneticNDSAlgorithm,20,300,74.699712,3457.133333,0.614131,5.205513
3,dataset1,GeneticNDSAlgorithm,30,100,10.647918,4002.922222,0.601300,4.113098
4,dataset1,GeneticNDSAlgorithm,30,200,34.502197,3862.622222,0.592462,4.615902
5,dataset1,GeneticNDSAlgorithm,30,300,78.557777,3901.888889,0.563037,4.789272
6,dataset1,GeneticNDSAlgorithm,40,100,12.578645,4745.088889,0.571881,4.391573
7,dataset1,GeneticNDSAlgorithm,40,200,47.246780,4267.033333,0.576847,4.817840
8,dataset1,GeneticNDSAlgorithm,40,300,109.494231,4253.911111,0.548822,5.056041

## Dataset 1-NSGA-II analysis

In [6]:
df_nsgaii=summary[(summary['Dataset']=='dataset1') & (summary['Algorithm']=='NSGAIIAlgorithm')]
df_nsgaii

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
18,dataset1,NSGAIIAlgorithm,20,100,4.021174,8032.344444,0.695936,3.303585
19,dataset1,NSGAIIAlgorithm,20,200,8.000616,8180.555556,0.664097,3.362735
20,dataset1,NSGAIIAlgorithm,20,300,12.009780,8957.188889,0.729883,3.347691
21,dataset1,NSGAIIAlgorithm,30,100,7.488894,8457.722222,0.685544,3.361695
22,dataset1,NSGAIIAlgorithm,30,200,14.896735,9303.033333,0.668849,3.385532
23,dataset1,NSGAIIAlgorithm,30,300,22.305348,9876.466667,0.689951,3.449757
24,dataset1,NSGAIIAlgorithm,40,100,11.896380,8571.066667,0.727733,3.420013
25,dataset1,NSGAIIAlgorithm,40,200,23.630741,9538.200000,0.706371,3.512348
26,dataset1,NSGAIIAlgorithm,40,300,35.966580,9523.300000,0.726344,3.569927

---
# Dataset 2

## Dataset 2-Genetic analysis

In [7]:
df_genetic2=summary[(summary['Dataset']=='dataset2') & (summary['Algorithm']=='GeneticAlgorithm')]
df_genetic2

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
27,dataset2,GeneticAlgorithm,20,100,3.613467,NaN,NaN,0.559602
28,dataset2,GeneticAlgorithm,20,200,7.290692,NaN,NaN,0.549882
29,dataset2,GeneticAlgorithm,20,300,10.752754,NaN,NaN,0.555744
30,dataset2,GeneticAlgorithm,30,100,5.333425,NaN,NaN,0.552477
31,dataset2,GeneticAlgorithm,30,200,10.646741,NaN,NaN,0.555545
32,dataset2,GeneticAlgorithm,30,300,15.979829,NaN,NaN,0.553848
33,dataset2,GeneticAlgorithm,40,100,7.051403,NaN,NaN,0.551669
34,dataset2,GeneticAlgorithm,40,200,14.057008,NaN,NaN,0.551968
35,dataset2,GeneticAlgorithm,40,300,21.230665,NaN,NaN,0.554339

## Dataset 2-GeneticNDS analysis

In [8]:
df_geneticnds2=df_alg[(df_alg['Replacement Scheme']=='elitism')]
df_geneticnds2=(
    df_geneticnds2.groupby(['Dataset','Algorithm','Population Length', 'Generations'])\
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]\
    .agg(['mean'])\
    .reset_index()\
)
df_geneticnds2=df_geneticnds2[(df_geneticnds2['Dataset']=='dataset2') & (df_geneticnds2['Algorithm']=='GeneticNDSAlgorithm')]
display(df_geneticnds2)

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
36,dataset2,GeneticNDSAlgorithm,20,100,39.886071,24312.200000,0.727946,0.656954
37,dataset2,GeneticNDSAlgorithm,20,200,183.473961,21379.677778,0.723580,0.670994
38,dataset2,GeneticNDSAlgorithm,20,300,480.362478,24373.211111,0.749996,0.684452
39,dataset2,GeneticNDSAlgorithm,30,100,50.159471,27112.211111,0.689946,0.662087
40,dataset2,GeneticNDSAlgorithm,30,200,209.922503,34001.255556,0.700533,0.676551
41,dataset2,GeneticNDSAlgorithm,30,300,504.090132,33863.466667,0.693890,0.684131
42,dataset2,GeneticNDSAlgorithm,40,100,72.284711,26737.488889,0.660222,0.660463
43,dataset2,GeneticNDSAlgorithm,40,200,242.466456,34333.311111,0.663869,0.672485
44,dataset2,GeneticNDSAlgorithm,40,300,579.675099,35052.700000,0.671180,0.684266

In [9]:
df_geneticnds2=df_alg[(df_alg['Replacement Scheme']=='elitismNDS')]
df_geneticnds2=(
    df_geneticnds2.groupby(['Dataset','Algorithm','Population Length', 'Generations'])\
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]\
    .agg(['mean'])\
    .reset_index()\
)
df_geneticnds2=df_geneticnds2[(df_geneticnds2['Dataset']=='dataset2') & (df_geneticnds2['Algorithm']=='GeneticNDSAlgorithm')]
df_geneticnds2

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
9,dataset2,GeneticNDSAlgorithm,20,100,41.331002,24786.677778,0.736502,0.663952
10,dataset2,GeneticNDSAlgorithm,20,200,163.066537,21631.577778,0.733572,0.677294
11,dataset2,GeneticNDSAlgorithm,20,300,387.580915,25663.377778,0.755735,0.691555
12,dataset2,GeneticNDSAlgorithm,30,100,53.641689,30444.377778,0.697305,0.664306
13,dataset2,GeneticNDSAlgorithm,30,200,189.695262,32917.233333,0.686816,0.685266
14,dataset2,GeneticNDSAlgorithm,30,300,418.653482,31170.111111,0.681248,0.695932
15,dataset2,GeneticNDSAlgorithm,40,100,66.044598,29774.566667,0.665608,0.661041
16,dataset2,GeneticNDSAlgorithm,40,200,210.864089,37711.177778,0.654367,0.679231
17,dataset2,GeneticNDSAlgorithm,40,300,453.132570,34630.000000,0.679028,0.693681

## Dataset 2-NSGA-II analysis

In [10]:
df_nsgaii2=summary[(summary['Dataset']=='dataset2') & (summary['Algorithm']=='NSGAIIAlgorithm')]
df_nsgaii2

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
45,dataset2,NSGAIIAlgorithm,20,100,16.535687,68095.933333,0.714318,0.620892
46,dataset2,NSGAIIAlgorithm,20,200,32.449755,73875.022222,0.770481,0.623984
47,dataset2,NSGAIIAlgorithm,20,300,48.573764,75398.666667,0.708609,0.629357
48,dataset2,NSGAIIAlgorithm,30,100,30.612208,66118.200000,0.746145,0.631033
49,dataset2,NSGAIIAlgorithm,30,200,61.059680,69816.000000,0.743087,0.638858
50,dataset2,NSGAIIAlgorithm,30,300,91.175440,80689.022222,0.713936,0.637070
51,dataset2,NSGAIIAlgorithm,40,100,49.002958,79132.888889,0.706348,0.626937
52,dataset2,NSGAIIAlgorithm,40,200,99.732752,92296.433333,0.745539,0.634250
53,dataset2,NSGAIIAlgorithm,40,300,146.833593,92658.288889,0.674488,0.637127

---
# Best Average Value for NSGA-II

In [11]:
df_best1=df_nsgaii[(df_nsgaii["Population Length"]==40) & (df_nsgaii["Generations"]==300)]
df_best2=df_nsgaii2[(df_nsgaii2["Population Length"]==40) & (df_nsgaii2["Generations"]==300)]
df_best_algs=pd.concat([df_best1,df_best2])
display(df_best_algs)

,Dataset,Algorithm,Population Length,Generations,Time(s),HV,Spread,AvgValue
,,,,,mean,mean,mean,mean
26,dataset1,NSGAIIAlgorithm,40,300,35.966580,9523.300000,0.726344,3.569927
53,dataset2,NSGAIIAlgorithm,40,300,146.833593,92658.288889,0.674488,0.637127

In [12]:
df_best_conf=df_alg[(df_alg["Population Length"]==40) & (df_alg["Generations"]==300)&(df_alg['Algorithm']=='NSGAIIAlgorithm')]
summary2=(
df_best_conf.groupby(['Crossover Probability','Mutation Probability'])
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]
    .agg(mean_time=('Time(s)', 'mean'),
         mean_hv=('HV', 'mean'),
         mean_spread=('Spread', 'mean'),
         mean_avgvalue=('AvgValue', 'mean'),
        )
    .reset_index()
    .sort_values("mean_avgvalue",ascending=False)
)
summary2

,Crossover Probability,Mutation Probability,mean_time,mean_hv,mean_spread,mean_avgvalue
5,0.85,0.10,91.562712,49916.30,0.670403,2.196998
0,0.80,0.00,88.502096,57644.15,0.707050,2.132097
4,0.85,0.05,91.893655,52610.95,0.720814,2.111151
7,0.90,0.05,89.124844,47865.15,0.805702,2.101982
1,0.80,0.05,99.981856,49149.55,0.707786,2.093165
3,0.85,0.00,91.677518,51075.50,0.661339,2.083286
8,0.90,0.10,88.967750,52612.75,0.657616,2.078889
2,0.80,0.10,91.244440,48465.70,0.692290,2.069972
6,0.90,0.00,89.645911,50477.10,0.680742,2.064202

# Best Average Value for GeneticNDS

In [13]:
df_best_conf=df_alg[(df_alg["Population Length"]==40) & (df_alg["Generations"]==300)&(df_alg['Algorithm']=='GeneticNDSAlgorithm')]
summary3=(
df_best_conf.groupby(['Crossover Probability','Mutation Probability'])
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]
    .agg(mean_time=('Time(s)', 'mean'),
         mean_hv=('HV', 'mean'),
         mean_spread=('Spread', 'mean'),
         mean_avgvalue=('AvgValue', 'mean'),
        )
    .reset_index()
    .sort_values("mean_avgvalue",ascending=False)
)
summary3

,Crossover Probability,Mutation Probability,mean_time,mean_hv,mean_spread,mean_avgvalue
4,0.85,0.05,245.918472,21381.825,0.616476,3.015237
3,0.85,0.00,260.916698,17966.425,0.612993,2.969275
1,0.80,0.05,489.023237,19671.100,0.602377,2.951600
0,0.80,0.00,598.339070,23284.150,0.635325,2.923737
5,0.85,0.10,329.462876,18527.100,0.601682,2.888821
7,0.90,0.05,160.015598,17036.275,0.634501,2.763180
2,0.80,0.10,440.328415,21594.175,0.606692,2.725037
8,0.90,0.10,145.423063,20020.600,0.608436,2.682250
6,0.90,0.00,180.369029,16563.525,0.611632,2.595253

## NSGA-II 300Gener;40PopLen;0.85CrossProb;0.1MutProb - orange
## GeneticNDS 300Gener;40PopLen;0.85CrossProb;0.05MutProb - blue
<img src="output/images/Figure_2.png">

In [14]:
df_best_conf=df_alg[(df_alg["Population Length"]==40) & (df_alg["Generations"]==300)&(df_alg['Algorithm']=='NSGAIIAlgorithm')&(df_alg['Dataset']=='dataset1')]
summary2=(
df_best_conf.groupby(['Crossover Probability','Mutation Probability'])
    [['Time(s)', 'HV', 'Spread',"AvgValue"]]
    .agg(mean_time=('Time(s)', 'mean'),
         mean_hv=('HV', 'mean'),
         mean_spread=('Spread', 'mean'),
         mean_avgvalue=('AvgValue', 'mean'),
        )
    .reset_index()
    .sort_values("mean_avgvalue",ascending=False)
)
summary2

,Crossover Probability,Mutation Probability,mean_time,mean_hv,mean_spread,mean_avgvalue
5,0.85,0.10,35.656348,7773.2,0.692891,3.753867
0,0.80,0.00,34.463871,10018.2,0.754264,3.633327
4,0.85,0.05,35.661601,10199.9,0.763179,3.585516
7,0.90,0.05,34.908378,8340.5,0.926587,3.558660
1,0.80,0.05,41.042563,9959.2,0.698682,3.553735
3,0.85,0.00,35.774171,9131.8,0.662598,3.525433
8,0.90,0.10,34.793218,9871.9,0.651129,3.520391
2,0.80,0.10,35.397525,9549.8,0.701842,3.508059
6,0.90,0.00,36.001550,10865.2,0.685920,3.490352

In [15]:
import matplotlib as mpl
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

In [16]:
df_nsgaii=df_alg[df_alg['Algorithm']=='NSGAIIAlgorithm']
df_nsgaii=df_nsgaii[["Population Length","Generations","Time(s)","HV","Spread","AvgValue"]]
summary = (df_nsgaii.groupby(['Population Length', 'Generations'])
                 [['Time(s)', 'HV', 'Spread',"AvgValue"]]
                 .agg(['mean'])
                 .reset_index()
          )
summary

  Population Length Generations    Time(s)            HV    Spread  AvgValue
                                      mean          mean      mean      mean
0                20         100  10.278431  38064.138889  0.705127  1.962238
1                20         200  20.225185  41027.788889  0.717289  1.993359
2                20         300  30.291772  42177.927778  0.719246  1.988524
3                30         100  19.050551  37287.961111  0.715845  1.996364
4                30         200  37.978207  39559.516667  0.705968  2.012195
5                30         300  56.740394  45282.744444  0.701943  2.043414
6                40         100  30.449669  43851.977778  0.717041  2.023475
7                40         200  61.681747  50917.316667  0.725955  2.073299
8                40         300  91.400087  51090.794444  0.700416  2.103527

In [17]:
'''
index=summary.index
plt.scatter(summary)
plt.legend(summary.columns)
'''

'\nindex=summary.index\nplt.scatter(summary)\nplt.legend(summary.columns)\n'

In [18]:
#df_cleared=df_alg[(df_alg["Algorithm"]=="GeneticAlgorithm") | (df_alg["Algorithm"]=="NSGAIIAlgorithm")]
#df_cleared.to_csv('output/experimento_2datasets_2_10.csv', sep=',')