In [132]:
# Esta celda actúa sobre la libreta, y permite que se aproveche mejor el espacio.
from IPython.core.display import display, HTML
display(HTML("<style>.container{ width:95%}</style>"))
import sys
print(sys.executable) 
#import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')
import seaborn as sns
from sklearn import preprocessing

from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
El codigo Python de este cuaderno está oculto para facilitar la lectura.
Para mostrar/ocultar el código, haz click <a href="javascript:code_toggle()">aquí.</a>.''')

c:\users\48259328\appdata\local\programs\python\python38\python.exe

In [133]:
import pandas as pd
#df_alg=pd.read_csv('output/experimento_2datasets_2_10.csv')
df_alg=pd.read_csv('output/merged_output.txt')
display(df_alg.tail(5))
#display(df_alg.info())
convert_dict = {'Dataset': "string", 
                'Algorithm': "string",
                'Population Length': "int64",
                'Generations': "int64",
                'Selection Scheme': "string",
                'Selection Candidates': "int64",
                'Crossover Scheme': "string",
                'Crossover Probability': "float64",
                'Mutation Scheme': "string",
                'Mutation Probability': "float64",
                'Replacement Scheme': "string",
                'Time(s)': "float64",
                'AvgValue': "float64",
                'BestAvgValue': "float64",
                'BestGeneration': "int64",
                'HV': "float64",
                'Spread': "float64",
                'NumSolutions': "float64",
                'Spacing': "float64"
               } 
df_alg = df_alg.astype(convert_dict) 
#display(df_alg.info())

,Dataset,Algorithm,Population Length,Generations,Selection Scheme,Selection Candidates,Crossover Scheme,Crossover Probability,Mutation Scheme,Mutation Probability,Replacement Scheme,Time(s),AvgValue,BestAvgValue,BestGeneration,HV,Spread,NumSolutions,Spacing
40271,dataset1,GeneticAlgorithm,40,100,tournament,2,onepoint,0.85,flip1bit,0.7,elitism,3.401167,2.076807,3.370370,35,NaN,NaN,NaN,NaN
40272,dataset1,GeneticAlgorithm,40,100,tournament,2,onepoint,0.85,flip1bit,0.7,elitism,3.455084,2.079762,3.609524,94,NaN,NaN,NaN,NaN
40273,dataset1,GeneticAlgorithm,40,100,tournament,2,onepoint,0.85,flip1bit,0.7,elitism,3.388068,2.243167,3.315789,43,NaN,NaN,NaN,NaN
40274,dataset1,GeneticAlgorithm,40,100,tournament,2,onepoint,0.85,flip1bit,0.7,elitism,3.420670,2.125318,3.988235,57,NaN,NaN,NaN,NaN
40275,dataset1,GeneticAlgorithm,40,100,tournament,2,onepoint,0.85,flip1bit,0.7,elitism,3.399063,2.079453,3.684211,74,NaN,NaN,NaN,NaN

---
# GeneticNDS elitism

In [134]:
df_geneticnds_elitism=df_alg[(df_alg["Algorithm"]=="GeneticNDSAlgorithm")&(df_alg['Replacement Scheme']=='elitism')]
display(df_geneticnds_elitism.head(1))

,Dataset,Algorithm,Population Length,Generations,Selection Scheme,Selection Candidates,Crossover Scheme,Crossover Probability,Mutation Scheme,Mutation Probability,Replacement Scheme,Time(s),AvgValue,BestAvgValue,BestGeneration,HV,Spread,NumSolutions,Spacing
20,dataset1,GeneticNDSAlgorithm,20,300,tournament,2,onepoint,0.85,flipeachbit,0.5,elitism,14.906121,3.373561,6.155556,101,7852.2,0.616878,33.0,0.247577

---
## Dataset 1

In [135]:
df_geneticnds_elitism1=df_geneticnds_elitism[df_geneticnds_elitism["Dataset"]=="dataset1"]
display(df_geneticnds1.head(1))

,Population Length,Generations,mean_time,mean_hv,mean_spread,mean_avgvalue,mean_bestavgvalue,mean_bestgeneration,mean_numsolutions,mean_spacing
3,30,100,22.946351,9623.1925,0.769097,3.998297,5.901074,51.973214,29.201786,0.316113

### Elegir configuraciones con tiempo < 5min

In [136]:
limit_time=5*60
df_geneticnds_elitism1=(
    df_geneticnds_elitism1.groupby(['Population Length', 'Generations'])\
    [['Time(s)', 'HV', 'Spread',"AvgValue","BestAvgValue","BestGeneration","NumSolutions","Spacing"]]\
    .agg(mean_time=('Time(s)', 'mean'),
         mean_hv=('HV', 'mean'),
         mean_spread=('Spread', 'mean'),
         mean_avgvalue=('AvgValue', 'mean'),
         mean_bestavgvalue=('BestAvgValue', 'mean'),
         mean_bestgeneration=('BestGeneration', 'mean'),
         mean_numsolutions=('NumSolutions', 'mean'),
         mean_spacing=('Spacing', 'mean'),
        )
    .reset_index()\
    .sort_values("mean_time",ascending=True)
)
df_geneticnds_elitism1=df_geneticnds_elitism1[df_geneticnds_elitism1["mean_time"]<limit_time]
display(df_geneticnds_elitism1[["Population Length", "Generations"]])

   Population Length  Generations
3                 30          100
0                 20          100
6                 40          100
1                 20          200
4                 30          200

In [137]:
best_configurations_geneticnds = [element for element in df_geneticnds_elitism1[["Population Length", "Generations"]].values]
print(best_configurations_geneticnds)

[array([ 30, 100], dtype=int64), array([ 20, 100], dtype=int64), array([ 40, 100], dtype=int64), array([ 20, 200], dtype=int64), array([ 30, 200], dtype=int64)]

In [138]:
df_geneticnds_elitism11=df_geneticnds_elitism1[["Population Length", "Generations", "mean_avgvalue", "mean_bestavgvalue"]].sort_values("mean_avgvalue",ascending=False)
df_geneticnds_elitism1_configuration = [df_geneticnds_elitism11.head(1).values[0][0],df_geneticnds_elitism11.head(1).values[0][1]]
print(df_geneticnds_elitism1_configuration)
df_geneticnds_elitism1_selected =df_geneticnds_elitism1[(df_geneticnds_elitism1["Population Length"]==df_geneticnds_elitism1_configuration[0])&(df_geneticnds_elitism1["Generations"]==df_geneticnds_elitism1_configuration[1])]
display(df_geneticnds_elitism1_selected)

[30.0, 200.0]

,Population Length,Generations,mean_time,mean_hv,mean_spread,mean_avgvalue,mean_bestavgvalue,mean_bestgeneration,mean_numsolutions,mean_spacing
4,30,200,201.545998,10182.4225,0.786433,4.181968,6.313068,97.410714,32.419643,0.31258

## Dataset 2

In [139]:
df_geneticnds_elitism2=df_geneticnds_elitism[df_geneticnds_elitism["Dataset"]=="dataset2"]
display(df_geneticnds_elitism2.head(1))

,Dataset,Algorithm,Population Length,Generations,Selection Scheme,Selection Candidates,Crossover Scheme,Crossover Probability,Mutation Scheme,Mutation Probability,Replacement Scheme,Time(s),AvgValue,BestAvgValue,BestGeneration,HV,Spread,NumSolutions,Spacing
150,dataset2,GeneticNDSAlgorithm,40,200,tournament,2,onepoint,0.85,flipeachbit,0.1,elitism,65.387986,0.645371,0.707487,37,79982.0,0.681574,40.0,0.134155

### Elegir configuraciones con tiempo < 5min

In [140]:
limit_time=5*60
df_geneticnds_elitism2=(
    df_geneticnds_elitism2.groupby(['Population Length', 'Generations'])\
    [['Time(s)', 'HV', 'Spread',"AvgValue","BestAvgValue","BestGeneration","NumSolutions","Spacing"]]\
    .agg(mean_time=('Time(s)', 'mean'),
         mean_hv=('HV', 'mean'),
         mean_spread=('Spread', 'mean'),
         mean_avgvalue=('AvgValue', 'mean'),
         mean_bestavgvalue=('BestAvgValue', 'mean'),
         mean_bestgeneration=('BestGeneration', 'mean'),
         mean_numsolutions=('NumSolutions', 'mean'),
         mean_spacing=('Spacing', 'mean'),
        )
    .reset_index()\
    .sort_values("mean_time",ascending=True)
)
df_geneticnds_elitism2=df_geneticnds_elitism2[df_geneticnds_elitism2["mean_time"]<limit_time=5*60]
display(df_geneticnds_elitism2#[["Population Length", "Generations"]]
       )

SyntaxError: invalid syntax (<ipython-input-140-b2508977f9c6>, line 17)